<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<title>The Yolk Website Template :: w3layouts</title>
	<link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="../static/css/theme.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	</script>
	<!----webfonts---->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
	<!----//webfonts---->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<!--  jquery plguin -->
	<!--start slider -->
	<link rel="stylesheet" href="../static/css/fwslider.css" media="all">
	<script src="../static/js/jquery-ui.min.js"></script>
	<script src="../static/js/css3-mediaqueries.js"></script>
	<script src="../static/js/fwslider.js"></script>
	<!--end slider -->
</head>

<body>
	<!----start-container----->
	<div class="header-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="logo"><a href="index.html"><img src="../static/imagens/logo-vegans2go.png" alt="Vegans2Go" /></a></div>
				</div>
				<div class="col-md-8">
					<div class="right">
						<ul class="list-unstyled">
							<li class="a text-left"><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a> R$0,00</li>
							<li><a href="#">Finalizar Pedido</a></li>
						</ul>
					</div>
				</div>
				<!----start-images-slider---->
				<!-- Single button -->


			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<!----start-images-slider---->
				<div class="images-slider">
					<div id="fwslider">
						<div class="slider_container">
							<div class="slide">
								<img src="../static/imagens/feijoada.jpg" alt="" />
								<div class="slide_content">
									<div class="slide_content_wrap">
										<p class="description">Prato do dia</p>
										<h4 class="title">Feijoada</h4>
										<div class="slide-btns description">
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<img src="../static/imagens/jacatolada.jpg" alt="" />
								<div class="slide_content">
									<div class="slide_content_wrap">
										<p class="description">Prato do dia</p>
										<h4 class="title">Jaca Atolada</h4>
										<div class="slide-btns description">
										</div>
									</div>
								</div>
							</div>
							<!--/slide -->
						</div>
						<div class="timers"> </div>
						<div class="slidePrev"><span> </span></div>
						<div class="slideNext"><span> </span></div>
					</div>
					<!--/slider -->
				</div>
			</div>
		</div>
	</div>
	<!----//End-container----->
	<div class="container">
		<div class="content" >
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Cardápio</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="grid">
						<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a class="b-link-stripe b-animate-go  thickbox">
									<img src="../static/imagens/tropeiro.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt="" /></h2>
									</div>
								</a>
								<!--
									<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
							     <img src="imagens/tropeiro.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt=""/></h2>
							  	</div></a>
								-->
							</div>
						</div>
						<p class="text-center">Feijão Tropeiro</p>
						<h2 class="text-center">R$18,00</h2>
						<p class="text-center"><a href="#" onclick="pedirProduto('000');">Pedir</a></p>
					</div>
				</div>

				<div class="col-md-2">
					<div class="grid">
						<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a class="b-link-stripe b-animate-go  thickbox">
									<img src="../static/imagens/Picadinho-de-legumes.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt="" /></h2>
									</div>
								</a>
								<!--
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
										 <img src="imagens/tropeiro.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt=""/></h2>
										  </div></a>
										-->
							</div>
						</div>
						<p class="text-center">Picadinho de Legumes</p>
						<h2 class="text-center">R$18,00</h2>
						<p class="text-center"><a href="#" onclick="pedirProduto('001');">Pedir</a></p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="grid">
						<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a class="b-link-stripe b-animate-go  thickbox">
									<img src="../static/imagens/macarrao-integral.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt="" /></h2>
									</div>
								</a>
								<!--
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
										 <img src="imagens/tropeiro.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt=""/></h2>
										  </div></a>
										-->
							</div>
						</div>
						<p class="text-center">Massa Integral (contém glútem)</p>
						<h2 class="text-center">R$32,00</h2>
						<p class="text-center"><a href="#" onclick="pedirProduto('002');">Pedir</a></p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="grid">
						<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a class="b-link-stripe b-animate-go  thickbox">
									<img src="../static/imagens/moqueca-de-banana-da-terra.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt="" /></h2>
									</div>
								</a>
								<!--
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
										 <img src="imagens/tropeiro.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt=""/></h2>
										  </div></a>
										-->
							</div>
						</div>
						<p class="text-center">Moqueca de Banana da Terra</p>
						<h2 class="text-center">R$18,00</h2>
						<p class="text-center"><a href="#" onclick="pedirProduto('003');">Pedir</a></p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="grid">
						<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a class="b-link-stripe b-animate-go  thickbox">
									<img src="../static/imagens/espetinhovegano.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt="" /></h2>
									</div>
								</a>
								<!--
											<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
										 <img src="imagens/tropeiro.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt=""/></h2>
										  </div></a>
										-->
							</div>
						</div>
						<p class="text-center">Espetinho Veggie</p>
						<h2 class="text-center">R$18,00</h2>
						<p class="text-center"><a href="#" onclick="pedirProduto('004');">Pedir</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-2">
					<div class="grid">
						<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a data-toggle="modal" data-target=".bs-example-modal-md" href="#" class="b-link-stripe b-animate-go  thickbox">
									<img src="../static/imagens/hamburguer_graodebico.jpg" />
									<div class="b-wrapper">
										<h2 class="b-animate b-from-left    b-delay03 "><img src="images/link-ico.png" alt="" /></h2>
									</div>
								</a>
							</div>
						</div>
						<p class="text-center">Luisa Mell</p>
						<h2 class="text-center">R$24,00</h2>
						<p class="text-center"><a href="#" onclick="pedirProduto('005');">Pedir</a></p>

						<!--start-model-box-->
						<a data-toggle="modal" data-target=".bs-example-modal-md" href="#"> </a>
						<div class="modal fade bs-example-modal-md light-box" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
						 aria-hidden="true">
							<div class="modal-dialog modal-md">
								<div class="modal-content light-box-info">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="images/close.png" title="close" /></button>
									<h3>Luisa Mell</h3>
									<p>Hamburguer de gão de bico sem glútem, agrião, tomate, cebola caramelizada, maionese de alho poró.</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- JavaScript files-->
	<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
	<script>
      //var userOn = sessionStorage.getItem("systemUser").replace(/[.]/g, "");
      var userOn = "HumbertoVieiraDeSouza01";
      var quant = 0;
      //Ready
      $(document).ready(function(){
        update();
      });
      // Initialize Firebase
      var config = {
        apiKey: "Wg6XvS7W0UftiQlBnCM1tt8gVSIE7exereBXcYx0",
        authDomain: "vegans2godatabase.firebaseio.com",
        databaseURL: "https://vegans2godatabase.firebaseio.com",
        projectId: "vegans2godatabase",
        storageBucket: "vegans2godatabase.appspot.com",
        messagingSenderId: "1008270939260"
      };
      firebase.initializeApp(config);
      var database = firebase.database();
      //Update
      function update(){
        $(".adicionarAoCarrinho").text(valorProduto);
      }
      //Realizar pedido
      function pedirProduto(idproduto){
        getFireData(idproduto);
        if (quant === 0){
          firebase.database().ref('Pedidos/' + userOn + '/' + idproduto).set(1);
		}else {
          firebase.database().ref('Pedidos/' + userOn + '/' + idproduto).set(quant + 1);
		}
      }
      function getFireData(idproduto){
        firebase.database().ref('Pedidos/' + userOn + '/' + idproduto).on("value", function(snapshot) {
          quant = parseInt(snapshot.val());
          //update();
        });
      }
    </script>

</body>

</html>