<!DOCTYPE HTML>
<html>

<head>
	<title>Pedido - Vegans 2 Go</title>
	<link href="../static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="../static/css/theme.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!----webfonts---->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
	<!----//webfonts---->
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<!--  jquery plguin -->
	<!--start slider -->
	<link rel="stylesheet" href="../static/css/fwslider.css" media="all">
	<script src="../static/js/jquery-ui.min.js"></script>
	<script src="../static/js/css3-mediaqueries.js"></script>
	<script src="../static/js/fwslider.js"></script>
	<!--end slider -->
</head>

<body>
	<div class="header-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="logo">
						<a href="{{url_for('pageindex')}}">
						<!-- Comente a linha de cima e remova o comentario da linha
							debaixo para fazer testes sem o backend-->
						<!-- <a href="index.html"> -->
							<img src="../static/imagens/logo-vegans2go.png" alt="Vegans2Go" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" align="center">
		<h1>Pedido Realizado Com Sucesso!</h1>
	</div>
	<!-- JavaScript files-->
	<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
	<script>
      var config = {
        apiKey: "Wg6XvS7W0UftiQlBnCM1tt8gVSIE7exereBXcYx0",
        authDomain: "vegans2godatabase.firebaseio.com",
        databaseURL: "https://vegans2godatabase.firebaseio.com",
        projectId: "vegans2godatabase",
        storageBucket: "vegans2godatabase.appspot.com",
        messagingSenderId: "1008270939260"
      };
      firebase.initializeApp(config);
      var database = firebase.database();
      function getFireData(idproduto){
        firebase.database().ref('Produtos/' + idproduto + '/Nome').on("value", function(snapshot) {
           $("#name" + idproduto).text(snapshot.val());
        });
      }
    </script>

</body>

</html>